<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Az Awesome Form</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>

<ul  >
  <li th:each="home: ${homes}" >
    <span th:text="${home.getLocation()}" />
    <a th:href="'/getOneHome/'+${home.getId}" > Edit</a>
    <a th:href="'/homeDeleteQuestion/'+${home.getId}" > Delete</a>
  </li>
</ul>

<a th:href="/home" > Back</a>


</body>
</html>